
@mixin h1 {
  font-weight: 300;
  font-size: 40px;
  @media (max-width: 961px) {
    font-size: 28px;
  }
}

@mixin h2Pixel {
  font-family: 'VT323', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 32px;
  @media (max-width: 961px) {
    font-size: 24px;
  }
}
@mixin h2 {
  font-weight: 400;
  font-size: 32px;
  @media (max-width: 961px) {
    font-size: 24px;
  }
}

@mixin h3 {
  font-weight: 600;
  font-size: 18px;
  @media (max-width: 961px) {
    font-size: 16px;
  }
}

@mixin h4 {
  font-size: 16px;
  font-weight: 500;
}

//.........body
@mixin subtitle-18-400 {
  font-size: 18px;
}

@mixin body-32-600 {
  font-weight: 600;
  font-size: 32px;
}

@mixin body-32-500 {
  font-weight: 500;
  font-size: 32px;
}

@mixin body-32-400 {
  font-family: 'VT323', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

@mixin body-24-600 {
  font-weight: 600;
  font-size: 24px;
  @media (max-width: 961px) {
    font-size: 20px;
  }
}

@mixin body-24-500 {
  font-weight: 500;
  font-size: 24px;
}

@mixin body-24-400 {
  font-weight: 400;
  font-size: 24px;
}

@mixin body-20-600 {
  font-weight: 600;
  font-size: 20px;
}

@mixin body-20-500 {
  font-weight: 500;
  font-size: 20px;
}

@mixin body-20-400 {
  font-weight: 400;
  font-size: 20px;
}

@mixin body-20-300 {
  font-weight: 300;
  font-size: 20px;
}

@mixin body-18-600 {
  font-weight: 600;
  font-size: 18px;
}

@mixin body-18-500 {
  font-weight: 500;
  font-size: 18px;
}

@mixin body-18-400 {
  font-weight: 400;
  font-size: 18px;
}

@mixin body-16-600 {
  font-weight: 400;
  font-size: 18px;
}

@mixin body-16-500 {
  font-weight: 400;
  font-size: 18px;
}

@mixin body-16-400 {
  font-weight: 400;
  font-size: 18px;
  @media (max-width: 961px) {
    font-size: 14px;
  }
}

@mixin body-14-600 {
  font-weight: 400;
  font-size: 14px;
}

@mixin body-14-500 {
  font-weight: 400;
  font-size: 14px;
}

@mixin body-14-400 {
  font-weight: 400;
  font-size: 14px;
}

@mixin body-12-600 {
  font-weight: 600;
  font-size: 12px;
}

@mixin body-12-500 {
  font-weight: 500;
  font-size: 12px;
}

@mixin body-12-400 {
  font-weight: 400;
  font-size: 12px;
}

//.....animation
.page-enter-active {
  transition: opacity .5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

@mixin slideToLeft {
  width: 100%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    animation: slide 2s ease-in-out;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 3;
    background-color: $primaryLightestColor;
  }
}

@mixin slideToRight {
  width: 100%;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    animation: slide 1s ease-in-out;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 3;
    background-color: $primaryLightestColor;
  }
}

@keyframes slide {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }

}

// ******************************************
// Is the theme Light or Dark? CHANGE ME
// ******************************************

$theme: 'light'; // Light is default - if left blank


// ******************************************
// Light theme options
// ******************************************
$light: (
        'primaryDarkestColor': (
                'base': #151515
        ),
        'primaryDarkerColor': (
                'base': #404040
        ),
        'primaryDarkColor': (
                'base': #7f7f7f
        ),
        'primaryLightColor': (
                'base': #bfbfbf
        ),
        'primaryLighterColor': (
                'base': #f6f6f6
        ),
        'primaryLightestColor': (
                'base': #fff
        ),
);
$primaryDarkestColor: #151515;
$primaryDarkerColor: #404040;
$primaryDarkColor: #7f7f7f;
$primaryLightColor: #bfbfbf;
$primaryLighterColor: #f6f6f6;
$primaryLightestColor: #fff;
// Map all light colours
@function light($key: 'primary', $variant: 'base') {
  $map: map-get($light, $key);
  @return map-get($map, $variant);
}

// ******************************************
// Dark theme options
// ******************************************
$dark: (
        'primaryDarkestColor': (
                'base': #fff
        ),
        'primaryDarkerColor': (
                'base': #f6f6f6
        ),
        'primaryDarkColor': (
                'base': #bfbfbf
        ),
        'primaryLightColor': (
                'base': #7f7f7f
        ),
        'primaryLighterColor': (
                'base': #404040
        ),
        'primaryLightestColor': (
                'base': #151515
        )
);

// Map all dark colours
@function dark($key: 'primary', $variant: 'base') {
  $map: map-get($dark, $key);
  @return map-get($map, $variant);
}


// ******************************************
// Variables to be outputted and used
// ******************************************
$primaryDarkestColor: null;
$primaryDarkerColor: null;
$primaryDarkColor: null;
$primaryLightColor: null;
$primaryLighterColor: null;
$primaryLightestColor: null;


// ******************************************
// If the theme is light or dark
// ******************************************
@if $theme == light {
  $primaryDarkestColor: light(primaryDarkestColor);
  $primaryDarkerColor: light(primaryDarkerColor);
  $primaryDarkColor: light(primaryDarkColor);
  $primaryLightColor: light(primaryLightColor);
  $primaryLighterColor: light(primaryLighterColor);
  $primaryLightestColor: light(primaryLightestColor);
} @else if $theme == dark {
  $primaryDarkestColor: dark(primaryDarkestColor);
  $primaryDarkerColor: dark(primaryDarkerColor);
  $primaryDarkColor: dark(primaryDarkColor);
  $primaryLightColor: dark(primaryLightColor);
  $primaryLighterColor: dark(primaryLighterColor);
  $primaryLightestColor: dark(primaryLightestColor);
}


// ******************************************
// Custom Styles
// ******************************************
//body { background: $bg; }
//
//.wrap {
//  position: absolute;
//  top: 50%; left: 50%;
//  transform:translate(-50%, -50%);
//
//  padding: 12px;
//  background: $secondary;
//
//
//  button {
//    background: $primary;
//    color: $tertiary;
//    border: none;
//  }
//}
