
@import "variables";

html {
  background-color: $primaryLighterColor;
}
html, body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  line-height: 1.34;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active,
:hover {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  color: $primaryDarkestColor;
  background-color: rgba(255, 255, 255, 0);
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

:focus,
:active,
:hover {
  outline: none;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  color: $primaryDarkestColor;
}


